<%- include("partials/header.ejs") %>

  <main id="main">

    <section class="single-post-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->
            <div class="single-post">
              <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span><%= post.date %></span></div>
              <h1 class="mb-5"><%= post.title%>
                <% if(user && user.role === "admin") {%>
                  <a href=<%= `/delete?id=${post.id}` %> class="me-4 thumbnail">
                    <button type="submit" class="btn btn-primary">✘</button>
                  </a>
                <% } %>
              </h1>
              <p><span class="firstcharacter"><%= post.subtitle.charAt(0) %></span><%= post.subtitle.slice(1) %></p>

              <figure class="my-4">
                <img src=<%= post.img_url %> alt="" class="img-fluid">
                <!-- <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, odit? </figcaption> -->
              </figure>
              <%- post.body %>

              <% if(user && user.role === "admin") {%>
                <a href=<%= `/edit?id=${post.id}` %> class="me-4 thumbnail">
                  <button type="submit" class="btn btn-primary">Edit</button>
                </a>
              <% } %>
            </div><!-- End Single Post Content -->

            <!-- ======= Comments ======= -->
            <div class="comments">
              <h5 class="comment-title py-4"><%= locals.comments.length !== 0 ? comments.length : 0%> Comments</h5>
              <% if(locals.comments.length !== 0) {%>
                <% locals.comments.forEach(comment => { %>
              <div class="comment d-flex mb-4">
                <div class="flex-shrink-0">
                  <div class="avatar avatar-sm rounded-circle">
                    <img class="avatar-img" src=<%= `${comment.grav_url}` %> alt="profile-pic" class="img-fluid">
                  </div>
                </div>
                <div class="flex-grow-1 ms-2 ms-sm-3">
                  <div class="comment-meta d-flex align-items-baseline">
                    <h6 class="me-2"><%= comment.name %></h6>
                    <span class="text-muted"><%= comment.date %></span>
                  </div>
                  <div class="comment-body">
                    <%= comment.content %>
                  </div>
                </div>
              </div>
              <% }); %>
              <% } else{%>
                <h6 class="me-2">Begin the conversation! Be the first to comment.</h6>
              <% }%>
            </div><!-- End Comments -->

            <!-- ======= Comments Form ======= -->
            <div class="row justify-content-center mt-5">

              <div class="col-lg-12">
                <h5 class="comment-title">Add a Comment</h5>
                <div class="row">
                  <form action=<%= `/add-comment?id=${post.id}` %> method="post">
                  <div class="col-12 mb-3">
                    <label for="comment-message">Comment</label>

                    <textarea name="content_body" class="form-control" id="comment-message" placeholder="Share your thoughts" cols="30" rows="10"></textarea>
                  </div>
                  <div class="col-12">
                    <input type="submit" class="btn btn-primary" value="Post comment">
                  </div>
                  </form>
                </div>
              </div>
            </div><!-- End Comments Form -->

          </div>
          
        </div>
      </div>
    </section>
  </main><!-- End #main -->

<%- include("partials/footer.ejs") %>
